$color-primary: #9edb2a;
$core-secondary: #656565;
$color-highlight: darken($color-primary, 10%);
$color-shadow: darken($color-primary, 30%);

$color-active: #fe9c42;
$color-active-highlight: darken($color-active, 10%);
$color-active-shadow: darken($color-active, 30%);

// #672ADB
